<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.ac.mapper.resultMapper">
     
    <select id="selectResult" resultType="resultVO" >
        SELECT pmid, disease, gene, snp FROM test.`disease-gene_pairs` 
    </select>
    
    <select id="getResultByDisease" resultType="resultVO" parameterType="string">
        SELECT pmid, disease, gene, snp FROM test.`disease-gene_pairs` where disease LIKE CONCAT('%',#{disease},'%') order by snp desc;
    </select>
    
	<select id="getResultByGene" resultType="resultVO" parameterType="string">
        SELECT pmid, disease, gene, snp FROM test.`disease-gene_pairs` where gene LIKE CONCAT('%',#{gene},'%') order by snp desc;
    </select>
    
	<select id="getResultByPmid" resultType="resultVO" parameterType="string">
        SELECT pmid, disease, gene, snp FROM test.`disease-gene_pairs` where pmid LIKE '#{pmid}';
    </select>        
    
    <!-- drug repositioning queries -->
    
    <!-- search with disease name -->
    <select id="getDrugsWithDiseaseName" resultType="RepositioningDrugVO" parameterType="string">
	    SELECT distinct dgi.gene_name as targetGene, chem.pref_name as drugName, chem.max_phase as phaseNum, dgi.interaction_types as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			FROM test.dgi_interactions as dgi 
			join chembl_25.molecule_dictionary as chem
	    	on(dgi.drug_chembl_id = chem.chembl_id)
			where chem.pref_name is not null and chem.max_phase > 0 and chem.withdrawn_flag != 1 and dgi.gene_name in (
				SELECT distinct dgi.gene_name 
					FROM test.`disease-gene_pairs` as pair
					join test.`dgi_interactions` as dgi
					on(pair.gene = dgi.gene_name)
					where pair.disease LIKE CONCAT('',#{disease},'') and dgi.drug_chembl_id != '') 
	    limit 10000;
    </select>
    
    
    
    <!--  search with gene name -->
    <select id="getDiseaseNameByGene" resultType="string" parameterType="string">
    	SELECT distinct pair.disease 
			FROM test.`disease-gene_pairs` as pair
			join test.`dgi_interactions` as dgi
			on(pair.gene = dgi.gene_name)
			where pair.gene LIKE CONCAT('',#{gene},'') and dgi.drug_chembl_id != '';
    </select>
    <select id="getDrugsWithGeneName" resultType="RepositioningDrugVO" parameterType="string">
	    SELECT distinct dgi.gene_name as targetGene, chem.pref_name as drugName, chem.max_phase as phaseNum, dgi.interaction_types as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			FROM test.dgi_interactions as dgi 
			join chembl_25.molecule_dictionary as chem
			on(dgi.drug_chembl_id = chem.chembl_id)
			where chem.pref_name is not null and dgi.gene_claim_name LIKE CONCAT('',#{gene},'') and chem.withdrawn_flag != 1 and chem.max_phase > 0
			limit 10000;
    </select>    
    
    
    
    <!--  search with drug name -->
    <select id="getDiseaseNameByDrug" resultType="DiseaseGeneVO" parameterType="string">
    	SELECT distinct pair.disease, pair.gene
			FROM test.`disease-gene_pairs` as pair
			join test.`dgi_interactions` as dgi
			on(pair.gene = dgi.gene_name)
			where pair.gene in (select dgi.gene_name
			from test.`dgi_interactions` as dgi			
			where dgi.drug_claim_primary_name LIKE CONCAT('',#{drug},'') and dgi.drug_chembl_id != '');	
    </select>    
    <select id="getDrugUsage" resultType="RepositioningDrugVO" parameterType="string">
	   SELECT distinct dgi.gene_name as targetGene, chem.pref_name as drugName, chem.max_phase as phaseNum, dgi.interaction_types as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			FROM test.dgi_interactions as dgi 
			join chembl_25.molecule_dictionary as chem
			on(dgi.drug_chembl_id = chem.chembl_id)
			where chem.pref_name is not null and dgi.drug_claim_primary_name like CONCAT('',#{drug},'') and chem.withdrawn_flag != 1 and chem.max_phase > 0
			limit 10000;
    </select>    




<!--  new query -->

<!--  dr search with disease -->
	
	<!-- Aprroved reference with disease name -->
	<select id="getApprovedReferenceWithDisease" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where indication.max_phase_for_ind = 4 and dict.max_phase = 4 and dgi.interaction_claim_source like 'FDA'
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1
				and indication.mesh_heading like CONCAT('',#{disease},'');
    </select>    


	<!-- Aprroved candidate with disease name -->
	<select id="getApprovedCandidateWithDisease" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase = 4 
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1
				and indication.mesh_heading like CONCAT('',#{disease},'') and dgi.gene_name in (
					select triplet.gene
						from test.`disease-gene_pairs` as triplet
						where triplet.disease like CONCAT('',#{disease},'')
					);
	</select>
	    	
	    	
	<!--  interrupted candidate with disease name -->
	<select id="getInterruptedCandidateWithDisease" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3)  and (dict.max_phase = 2 or dict.max_phase = 3)
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1
				and indication.mesh_heading like CONCAT('',#{disease},'') and dgi.gene_name in (
					select triplet.gene
						from test.`disease-gene_pairs` as triplet
						where triplet.disease like CONCAT('',#{disease},'')
				);	
	</select>
		
		
		
		
<!--  dr search with drug -->
	
	<!-- approved reference  -->
	<select id="getApprovedReferenceWithDrug" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where indication.max_phase_for_ind = 4 and dict.max_phase = 4 and dgi.interaction_claim_source like 'FDA'
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1
				and dict.pref_name like CONCAT('',#{drug},'');
	</select>	
			    
			    
	<!-- approved candidate  -->
	<select id="getApprovedCandidateWithDrug" resultType="RepositioningDrugVO" parameterType="string">	
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase = 4 
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dict.pref_name like CONCAT('',#{drug},'')
				and indication.mesh_heading in (select distinct triplet.disease
					from test.`disease-gene_pairs` as triplet
					join chembl_25.drug_indication as indication 
					on(triplet.disease = indication.mesh_heading)
					where triplet.gene in (select distinct dgi.gene_name
						from chembl_25.molecule_dictionary as dict
						join test.dgi_interactions as dgi
						on(dict.chembl_id = dgi.drug_chembl_id)
						where dict.pref_name like CONCAT('',#{drug},'')
				));
	</select>		
	
	<!-- Interrupted candidate  -->
	<select id="getInterruptedCandidateWithDrug" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase != 4 
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dict.pref_name like CONCAT('',#{drug},'')
				and indication.mesh_heading in (select distinct triplet.disease
					from test.`disease-gene_pairs` as triplet
					join chembl_25.drug_indication as indication 
					on(triplet.disease = indication.mesh_heading)
					where triplet.gene in (select distinct dgi.gene_name
						from chembl_25.molecule_dictionary as dict
						join test.dgi_interactions as dgi
						on(dict.chembl_id = dgi.drug_chembl_id)
						where dict.pref_name like CONCAT('',#{drug},'')
				));	
	</select>		
	
	
	
<!--  dr search with gene -->
	
	<!-- approved reference  -->
	<select id="getApprovedReferenceWithGene" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where indication.max_phase_for_ind = 4 and dict.max_phase = 4 and dgi.interaction_claim_source like 'FDA'
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dgi.gene_name like CONCAT('',#{gene},'')
				and indication.mesh_heading in (select distinct triplet.disease
					from test.`disease-gene_pairs` as triplet
					join chembl_25.drug_indication as indication 
					on(triplet.disease = indication.mesh_heading)
					where triplet.gene like CONCAT('',#{gene},'')
				);	
	</select>
		

	<!-- approved candidate  -->
	<select id="getApprovedCandidateWithGene" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase = 4
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dgi.gene_name like CONCAT('',#{gene},'')
				and indication.mesh_heading in (select distinct triplet.disease
					from test.`disease-gene_pairs` as triplet
					join chembl_25.drug_indication as indication 
					on(triplet.disease = indication.mesh_heading)
					where triplet.gene like CONCAT('',#{gene},'')
				);
	</select>
	
	

	<!-- Interrupted candidate  -->
	<select id="getInterruptedCandidateWithGene" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase != 4
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dgi.gene_name like CONCAT('',#{gene},'')
				and indication.mesh_heading in (select distinct triplet.disease
					from test.`disease-gene_pairs` as triplet
					join chembl_25.drug_indication as indication 
					on(triplet.disease = indication.mesh_heading)
					where triplet.gene like CONCAT('',#{gene},'')
				);	
	
	</select>		
</mapper>