<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.ac.mapper.resultMapper">
     
<!-- literature queries -->
     
    <select id="getResultByDisease" resultType="resultVO" parameterType="string">
        SELECT pmid, disease, gene, snp as mutation FROM test.`disease-gene_pairs` where disease LIKE CONCAT('%',#{disease},'%') order by snp desc;
    </select>
    
	<select id="getResultByGene" resultType="resultVO" parameterType="string">
        SELECT pmid, disease, gene, snp as mutation FROM test.`disease-gene_pairs` where gene LIKE CONCAT('',#{gene},'') order by snp desc;
    </select>
    
	<select id="getResultByPmid" resultType="resultVO" parameterType="string">
        SELECT pmid, disease, gene, snp as mutation FROM test.`disease-gene_pairs` where pmid = #{pmid};
    </select>        
    
<!--  new query -->

<!--  dr search with disease -->
	
	<!-- FDA-approved control with disease name -->
	<select id="getApprovedReferenceWithDisease" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where indication.max_phase_for_ind = 4 and dict.max_phase = 4 and dgi.interaction_claim_source like 'FDA'
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1
				and indication.mesh_heading like CONCAT('',#{disease},'');
    </select>    


	<!-- FDA-approved candidate with disease name -->
	<select id="getApprovedCandidateWithDisease" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase = 4 
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1
				and indication.mesh_heading like CONCAT('',#{disease},'') and dgi.gene_name in (
					select triplet.gene
						from test.`disease-gene_pairs` as triplet
						where triplet.disease like CONCAT('',#{disease},''));
	</select>
	    	
	    	
	<!--  Unapproved candidate with disease name -->
	<select id="getInterruptedCandidateWithDisease" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3)  and (dict.max_phase = 2 or dict.max_phase = 3)
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1
				and indication.mesh_heading like CONCAT('',#{disease},'') and dgi.gene_name in (
					select triplet.gene
						from test.`disease-gene_pairs` as triplet
						where triplet.disease like CONCAT('',#{disease},''));	
	</select>
		
		
		
	
	
<!--  dr search with gene -->
	
	<!-- FDA-approved control  -->
	<select id="getApprovedReferenceWithGene" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where indication.max_phase_for_ind = 4 and dict.max_phase = 4 and dgi.interaction_claim_source like 'FDA'
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dgi.gene_name like CONCAT('',#{gene},'')
				and indication.mesh_heading in (select distinct triplet.disease
					from test.`disease-gene_pairs` as triplet
					join chembl_25.drug_indication as indication 
					on(triplet.disease = indication.mesh_heading)
					where triplet.gene like CONCAT('',#{gene},'')
				);	
	</select>
		

	<!-- FDA-approved candidate -->
	<select id="getApprovedCandidateWithGene" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase = 4
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dgi.gene_name like CONCAT('',#{gene},'')
				and indication.mesh_heading in (select distinct triplet.disease
					from test.`disease-gene_pairs` as triplet
					join chembl_25.drug_indication as indication 
					on(triplet.disease = indication.mesh_heading)
					where triplet.gene like CONCAT('',#{gene},'')
				);
	</select>
	
	

	<!-- Unapproved candidate  -->
	<select id="getInterruptedCandidateWithGene" resultType="RepositioningDrugVO" parameterType="string">
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase != 4
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dgi.gene_name like CONCAT('',#{gene},'')
				and indication.mesh_heading in (select distinct triplet.disease
					from test.`disease-gene_pairs` as triplet
					join chembl_25.drug_indication as indication 
					on(triplet.disease = indication.mesh_heading)
					where triplet.gene like CONCAT('',#{gene},'')
				);	
	
	</select>	
	



















	
	<select id="getAutoSearchByDisease" resultType="string" parameterType="string">
        SELECT distinct disease FROM test.`disease-gene_pairs` where disease LIKE CONCAT('',#{disease},'%');
    </select>
    
	<select id="getAutoSearchByGene" resultType="string" parameterType="string">
        SELECT distinct gene FROM test.`disease-gene_pairs` where gene LIKE CONCAT('',#{gene},'%');
    </select>
    
    <select id="getDRAutoSearchByDisease" resultType="string" parameterType="string">
    	select distinct indication.mesh_heading
			from chembl_25.drug_indication as indication
			join chembl_25.molecule_dictionary as dict
			on(dict.molregno = indication.molregno)
			where indication.max_phase_for_ind > 1 and dict.therapeutic_flag = 1 and dict.withdrawn_flag = 0 and indication.mesh_heading in (
				select distinct nlp.disease from test.dgi_interactions as dgi join `test`.`disease-gene_pairs` as nlp on(nlp.gene = dgi.gene_name) where nlp.disease like CONCAT('',#{disease},'%'));
    </select>        
		 		
	<select id="getDRAutoSearchByGene" resultType="string" parameterType="string">
		SELECT distinct dgi.gene_name as gene 
			FROM test.`disease-gene_pairs` as nlp
			join test.dgi_interactions as dgi
			on(nlp.gene = dgi.gene_name)
		where nlp.gene LIKE CONCAT('',#{gene},'%');
    </select>
    
    <select id="getDRAutoSearchByDrug" resultType="string" parameterType="string">
    	select distinct dict.pref_name
			from chembl_25.molecule_dictionary as dict
			join `chembl_25`.drug_indication as indication	
			join `test`.`disease-gene_pairs`  as nlp
			on(dict.molregno = indication.molregno and nlp.disease = indication.mesh_heading)
		where dict.pref_name like CONCAT('',#{drug},'%') and indication.max_phase_for_ind > 1 and dict.therapeutic_flag = 1 and dict.withdrawn_flag = 0;
    </select>		 		 
    	
    	
    <select id="getDrugSideEffect" resultType="SideEffectVO" parameterType="string">
    	select distinct se.meddra_term as sideEffect,freq.frequency as frequency, se.MeddraID as `description`
			from test.sider_meddra_all_se as se
			join test.sider_meddra_freq as freq
			on(se.CID = freq.CID and se.MeddraID = freq.meddra and se.meddra_term = freq.meddra_term)
			where se.CID in
			(SELECT CID FROM test.sider_drug_names where drugname like CONCAT('',#{drugname},'%'));
    </select>	
		 		
		 
		 
		 

		
<!--  dr search with drug -->
	
	<!-- FDA-approved control  -->
	<select id="getApprovedReferenceWithDrug" resultType="RepositioningDrugVO" parameterType="string">
		<!--select distinct concat(mesh_id,'@',indication.mesh_heading) as diseaseName, '' as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, ''  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources--> 
		select distinct indication.mesh_heading as diseaseName, '' as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where indication.max_phase_for_ind = 4 and dict.max_phase = 4
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1
				and dict.pref_name like CONCAT('',#{drug},'');
	</select>	
			    
			    
	<!-- FDA-approved candidate -->
	<select id="getApprovedCandidateWithDrug" resultType="RepositioningDrugVO" parameterType="string">	
			<!--select distinct concat(mesh_id,'@',indication.mesh_heading) as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources--> 
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase = 4 
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dict.pref_name like CONCAT('',#{drug},'');
	</select>		
	
	<!-- Unapproved candidate  -->
	<select id="getInterruptedCandidateWithDrug" resultType="RepositioningDrugVO" parameterType="string">
	<!--	select distinct concat(mesh_id,'@',indication.mesh_heading) as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources--> 
		select distinct indication.mesh_heading as diseaseName, dgi.gene_name as targetGene, dict.pref_name as drugName, indication.max_phase_for_ind as phaseNum, dgi.interaction_types  as interactionType, dgi.drug_chembl_id as chemblID, dgi.interaction_claim_source as sources 
			from chembl_25.drug_indication as indication 
			join chembl_25.molecule_dictionary as dict
			join test.dgi_interactions as dgi
			on(dict.molregno = indication.molregno and dict.chembl_id = dgi.drug_chembl_id)
			where (indication.max_phase_for_ind = 2 or indication.max_phase_for_ind = 3) and dict.max_phase != 4 
				and dict.withdrawn_flag = 0 and dict.therapeutic_flag = 1 and dict.pref_name like CONCAT('',#{drug},'');
					
	</select>		


		 
	<select id="getPMIDCount" resultType="string" parameterType="java.util.Map">
    	<!-- Triplet data table. -->
    	select distinct count(pmid) as pmidCnt from `test`.`disease-gene_pairs` 
    	where gene like CONCAT('',#{gene},'') and disease like CONCAT('',#{disease},'')
    	group by gene;
    	 
    	 
    	 <!-- using DisGeNet data 
    	select distinct count(pmid) as pmidCnt  from `test`.`disgenet_all_gene_disease_pmid_associations` 
    	where geneSymbol like CONCAT('',#{gene},'') and diseaseType like 'disease' and diseaseId in (
        select diseaseId from `test`.`disgenet_disease_mappings` where `code` like CONCAT('',#{disease},''))
        group by diseaseName
        order by count(pmid) desc
        limit 1;
        -->
    </select>			 		
	 		
	<select id="getPMIDList" resultType="string" parameterType="java.util.Map">
        SELECT distinct pmid 
        	FROM `test`.`disease-gene_pairs` 
        	where gene like CONCAT('',#{gene},'') and disease like CONCAT('',#{disease},'');
    </select>		 			 
	 			 
	 			 
	<select id="getPaperSummary" resultType="PaperSummaryVO" parameterType="java.util.Map">	 		
		SELECT distinct PMID as pmid, publishDate , Title as title, Author as author, Journal as journal 
			FROM test.paper_summary 
			where PMID like CONCAT('',#{pmid},'');	 	
	</select> 			 	
	 			 		
</mapper>